# project app in container
PROJECT_ROOT=/app
# project name "sub dir" in bucket - USED for S3_key name build in /pipeline/libs/src/aws.py
PROJECT_NAME=<YOUR_PROJECT_NAME>
# internal URL of api entry point - USED by Streamlit.
# Locally overridden in docker-compose to URL_API=http://api:8000
URL_API=http://127.0.0.1:8000
URL_API_BACKEND=http://127.0.0.1:8001


# BASIC PASSWORD AUTHENTICATION
# USED BY _fastapi-backend-server/src/route_auth.py
# To allow access to MLFlow tracking
# BASIC_PWD_AUTH will have to be set as SECRETS in HF Spaces Backend server
BASIC_PWD_AUTH=<CHOOSE_A_PASSWORD>

# LOCAL DEV:
# ENV VARIABLES USED IN DOCKER-COMPOSE
# Container names for docker-compose.yml
# docker compose originating containers
STREAMLIT_IMAGE=dc-streamlit
FASTAPI_IMAGE=dc-fastapi
FASTAPI_BACKEND_IMAGE=dc-fastapi-backend
MLFLOW_IMAGE=dc-mlflow
# FOR NGINX, NGINX_IMAGE is only for container naming purpose
# because image is not built but taken from nginx:latest
NGINX_IMAGE=dc-nginx
# CONTAINERS
STREAMLIT_CONTAINER=dc-streamlit-container
FASTAPI_CONTAINER=dc-fastapi-container
FASTAPI_BACKEND_CONTAINER=dc-fastapi-backend-container
MLFLOW_CONTAINER=dc-mlflow-container
NGINX_CONTAINER=dc-nginx-container



# LOCAL PREDEPLOYMENT:
# IMAGES AND CONTAINERS NAMES REDEFINED IN TOP SECTION OF MAKEFILE
# MLFlow server address on HF Spaces - set to your own
# replaces proxy_pass https://URL_OF_SPACE_IN_HF/ in _CONF/deploy/backend_deploy_dir/nginx/default.conf (location/mlflow)
MLFLOW_PROXY_PASS=https://huggingface.co/spaces/<HF_ACCOUNT>/<HF_MLFLOW_SERVER>



# HFSPACES DEPLOY
# HF Spaces account
HF_ACCOUNT=<YOUR_HF_ACCOUNT>
# HF Spaces servers
HF_BE_SERVER=<backend-server-ml-deplmt-templ>
HF_FE_SERVER=<frontend-server-ml-deplmt-templ>
HF_MLFLOW_SERVER=<mlflow-server-ml-deplmt-templ>
# MLFLOW_TRACKING_URI (default name) set to TRACKING_URI - has to be set manually in every MLFLOW call
TRACKING_URI=https://<HF_ACCOUNT>-<HF_MLFLOW_SERVER>.hf.space


# PORTS:
# PORT_XXX_EXTERNAL:adressable port of service XXX outside container
# PORT_XXX_EXPOSED:adressable port of service XXX running inside container
# Port redirection between EXTERNAL to EXPOSED made by -p option in docker run in makefile
# PORT_NGINX_EXTERNAL and PORT_NGINX_EXPOSED need to be the same, so far PORT_NGINX_EXTERNAL=PORT_NGINX_EXPOSED
PORT_NGINX_EXTERNAL=8088
PORT_NGINX_EXPOSED=8088
PORT_STREAMLIT_EXTERNAL=8501
PORT_STREAMLIT_EXPOSED=8501
PORT_FASTAPI_EXTERNAL=8000
PORT_FASTAPI_EXPOSED=8000
PORT_FASTAPI_BACKEND_EXTERNAL=8001
PORT_FASTAPI_BACKEND_EXPOSED=8001
PORT_MLFLOW_TRACKING_EXTERNAL=5005
PORT_MLFLOW_TRACKING_EXPOSED=5005
# PORT_REV_PROXY_FRONTEND_EXTERNAL and PORT_REV_PROXY_BACKEND_EXTERNAL set with different values
# So that both frontend and backend reverse proxy can be addressed locally on the same computer
# Supposed to be set to 7860 for Hugging Face space deployment (7860 = default listening port)
# Makefile push will set these ports to the same HF Spaces 7860 default listening port value
PORT_REV_PROXY_FRONTEND_EXTERNAL=7860
PORT_REV_PROXY_FRONTEND_EXPOSED=7860
PORT_REV_PROXY_BACKEND_EXTERNAL=7861
PORT_REV_PROXY_BACKEND_EXPOSED=7861
PORT_MLFLOW_HF_DEPLOYED_DEFAULT=7860

# ENV VARIABLES USED IN MLFLOW CONF
# SOME VAR ALREADY DEFINED ABOVE ARE USED BY OTHER PARTS (e.g. pipeline/libs/src/)
# PORT_MLFLOW_TRACKING_EXTERNAL, AWS_ACCESS_KEY, AWS_SECRET_KEY, 
ARTIFACT_ROOT=s3://<YOUR_BUCKET_NAME>/<PROJECT_NAME AS CONFIGURED ABOVE>/mlflow-artifacts/
BACKEND_STORE_URI=<YOUR_CONNECTION_STRING_FROM_POSTGRESQL_DB>
AWS_REGION=<YOUR_AWS_REGION>
AWS_ACCESS_KEY=<YOUR_AWS_ACCESS_KEY>
AWS_SECRET_KEY=<YOUR_AWS_SECRET_KEY>
AWS_S3_BUCKET=<YOUR_AWS_S3_BUCKET>
